# Ignore virtual environment
.venv/

# Ignore everything in Datasets folder
Datasets/*

# Keep only these two CSVs
!Datasets/
!Datasets/train.csv
!Datasets/test.csv

# Ignore Python cache files
__pycache__/
